// Typography
// --------------------------------------------------

//$base-font: 'VT323', Calibri, Arial, sans-serif;
$heading-font: 'Nixie One', cursive;

$base-font: 'Quantico', Calibri, Arial, sans-serif;
//$heading-font: 'VT323', cursive;
//$heading-font: 'Press Start 2P', cursive;

$caption-font: $heading-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
margin-top: 0px + $doc-line-height;
font-size: 0px + $doc-font-size;	
}


// Colors
// --------------------------------------------------
$base-color				: rgba(#222,0.8);
$body-color      		: #4428ff;
$body-image             : linear-gradient(0deg, #4428ff, #e8e8e8, #0E18BE  99%);
$text-color      		: rgba(#222,0.8);
$comp-color 	 		: complement(#222); 
$border-color    		: lighten($base-color,60);
$white           		: #fff;
$black           		: #000;
$link-color 		    : rgba(#222,0.8);

$primary			       : #222;
$success			       : #5cb85c;
$warning			       : #dd8338;
$danger				       : #C64537;
$info				         : #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";